[linux:vars]
ansible_ssh_user=changeme
ansible_ssh_pass=changeme
ansible_ssh_port=22
ansible_connection=ssh
new_user=changeme
new_password=changeme
velociraptor_deb_link=https://changeme.com/velociraptor.deb

[linux]
changeme chpasswd_users='["changeme"]' ports='["80","443"]'