[linux:vars]
ansible_ssh_user=changeme
old_password=changeme
ansible_ssh_port=22
ansible_connection=ssh
new_user=changeme
new_password=changeme
velociraptor_deb_link=https://changeme/changeme/velociraptor_client.deb
kesl_link=https://changeme/changeme/kesl_12.0.0-6672.sh
klnagent_link=https://changeme/changeme/klnagent64_15.0.0-12912_amd64.sh

[linux]
127.0.0.1 chpasswd_users='["changeme"]' ports='["80","443"]'